

.weather__today__title,
.weather__today__city {
	.has-animation & { opacity: 0; }
}

.weather__today__title {
	.has-animation.load & {
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 400ms ease-in-out 300ms;
		transition: opacity 400ms ease-in-out 300ms;
		opacity: 1;
	}
}

.weather__today__city {
	.has-animation.load & {
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 400ms ease-in-out 600ms;
		transition: opacity 400ms ease-in-out 600ms;
		opacity: 1;
	}
}

.weather__today__icon {
	.has-animation & { opacity: 0; }

	.has-animation.load & {
		-webkit-transition: opacity 400ms ease-in-out 900ms;
		transition: opacity 400ms ease-in-out 900ms;
		opacity: 1;
	}
}

.weather__today__climate {
	.has-animation & { opacity: 0; }

	.has-animation.load & {
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 400ms ease-in-out 900ms;
		transition: opacity 400ms ease-in-out 900ms;
		opacity: 1;
	}
}

.weather__today__max {
	.has-animation & { opacity: 0; }

	.has-animation.load & {
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 400ms ease-in-out 700ms;
		transition: opacity 400ms ease-in-out 700ms;
		opacity: 1;
	}
}

.weather__today__min {
	.has-animation & { opacity: 0; }

	.has-animation.load & {
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 400ms ease-in-out 800ms;
		transition: opacity 400ms ease-in-out 800ms;
		opacity: .6;
	}
}

@media screen and (orientation: landscape) {

	.weather__today {
		.has-animation & { margin-left: -62%; }

		.has-animation.load & {
			-webkit-transform: translateZ(0);
			-webkit-transition: margin-left 600ms cubic-bezier(0, 0, 0.26, 0.67);
			transition: margin-left 600ms cubic-bezier(0, 0, 0.26, 0.67);
			margin-left: 0;
		}
	}


	.weather__nextDays {
		.has-animation & { margin-right: -38%; }

		.has-animation.load & {
			-webkit-transform: translateZ(0);
			-webkit-transition: margin-right 800ms cubic-bezier(0, 0, 0.26, 0.67);
			transition: margin-right 800ms cubic-bezier(0, 0, 0.26, 0.67);
			margin-right: 0;
		}
	}

	.has-animation {
		.weather__day {
			margin-left: 100%;

			&.first { opacity: 0; }

			&.middle { opacity: 0; }

			&.last { opacity: 0; }
		}
	}

	.has-animation.load {
		.weather__day {
			&.first {
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 300ms, margin-left 400ms cubic-bezier(0, 0, 0.26, 0.67) 200ms;
				transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 300ms, margin-left 400ms cubic-bezier(0, 0, 0.26, 0.67) 200ms;
				opacity: 1;
				margin-left: 10%;
			}

			&.middle {
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 600ms, margin-left 400ms cubic-bezier(0, 0, 0.26, 0.67) 500ms;
				transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 600ms, margin-left 400ms cubic-bezier(0, 0, 0.26, 0.67) 500ms;
				opacity: 1;
				margin-left: 10%;
			}

			&.last {
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity 400ms cubic-bezier(0, 0, 0.21, 1.03) 800ms, margin-left 400ms cubic-bezier(0, 0, 0.21, 1.03) 700ms;
				transition: opacity 400ms cubic-bezier(0, 0, 0.21, 1.03) 800ms, margin-left 400ms cubic-bezier(0, 0, 0.21, 1.03) 700ms;
				opacity: 1;
				margin-left: 10%;
			}
		}
	}

}

@mixin verticalStyleAnimation() {

	.weather__today {
		.has-animation & { margin-top: -55%; }

		.has-animation.load & {
			-webkit-transform: translateZ(0);
			-webkit-transition: margin-top 600ms cubic-bezier(0, 0, 0.26, 0.67);
			transition: margin-top 600ms cubic-bezier(0, 0, 0.26, 0.67);
			margin-top: 0;
		}
	}


	.weather__nextDays {
		.has-animation & { margin-bottom: -45%; }

		.has-animation.load & {
			-webkit-transform: translateZ(0);
			-webkit-transition: margin-bottom 800ms cubic-bezier(0, 0, 0.26, 0.67);
			transition: margin-bottom 800ms cubic-bezier(0, 0, 0.26, 0.67);
			margin-bottom: 0;
		}
	}

	.has-animation {
		.weather__day {
			margin-bottom: -100%;

			&.first { opacity: 0; }

			&.middle { opacity: 0; }

			&.last {
				opacity: 0;
			}
		}
	}

	.has-animation.load {
		.weather__day {
			&.first {
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 300ms, margin-bottom 400ms cubic-bezier(0, 0, 0.26, 0.67) 200ms;
				transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 300ms, margin-bottom 400ms cubic-bezier(0, 0, 0.26, 0.67) 200ms;
				opacity: 1;
				margin-bottom: 0;
			}

			&.middle {
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 600ms, margin-bottom 400ms cubic-bezier(0, 0, 0.26, 0.67) 500ms;
				transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 600ms, margin-bottom 400ms cubic-bezier(0, 0, 0.26, 0.67) 500ms;
				opacity: 1;
				margin-bottom: 0;
			}

			&.last {
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 800ms, margin-bottom 400ms cubic-bezier(0, 0, 0.26, 0.67) 700ms;
				transition: opacity 400ms cubic-bezier(0, 0, 0.26, 0.67) 800ms, margin-bottom 400ms cubic-bezier(0, 0, 0.26, 0.67) 700ms;
				opacity: 1;
				margin-bottom: 0;
			}
		}
	}
	
}

.vertical {

	@include verticalStyleAnimation();

}

@media screen and (orientation: portrait) {

	@include verticalStyleAnimation();

}
