
$font-size: 16;

// ==========================================================================
// FUNCTIONS
// ==========================================================================

@function u($values) {

  $list: ();

  @each $value in $values {

    @if $value == 'auto' {
      $list: append($list, $value);
    }

    @else {
      $list: append($list, ($value/$font-size) + rem);
    }

  }

  @return $list();

}

// ==========================================================================
// VARIABLES
// ==========================================================================

// Sprite mappers

// $sprite: sprite-map('sprite/standard/*.png', $layout: 'smart', $spacing: 5);
// $sprite-hd: sprite-map('sprite/hd/*.png', $layout: 'smart', $spacing: 5);

// Location Images

$static: '../images/';

// Colors
// ==========================================================================


// ==========================================================================
// MIXINS
// ==========================================================================

@mixin clearfix() {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin center() {
	margin-left: auto;
	margin-right: auto;
}

@mixin transition($velocity: 300ms) {
	-webkit-transition: all $velocity linear;
		 -moz-transition: all $velocity linear;
			-ms-transition: all $velocity linear;
			 -o-transition: all $velocity linear;
					transition: all $velocity linear;
}

@mixin opacity($val) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$val)";
  -moz-opacity: $val / 100;
  -khtml-opacity: $val / 100;
  opacity: $val / 100;
}

@mixin vertCenter() {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

// ==========================================================================
// PLACEHOLDERS
// ==========================================================================